// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$light_color: rgb(245,245,245);
$dark_color: rgba(0,0,0,0.8);
$clan_color: #0074C8;
$headline_font_size: 3.85em; //54px

$primary-color: rgb(37, 194, 245);
$secondary-color: #FE3501;
$ternary-color: white;

$font: Montserrat, sans-serif;

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
    -o-transform: $transforms;
	transform: $transforms;
}

@mixin scale($x){
    @include transform(scale($x));
}

@mixin translateZ ($x) {
	@include transform(translateZ($x));
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin media-sm {
  @media (min-width: 576px){
    @content;
  }
}

@mixin media-md {
  @media (min-width: 992px){
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 1200px){
    @content;
  }
}

* {
    //font-size: 100%;
    font-family: $font;    
}

// utility
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
///

body {
  background-color: #202427;
}

a:hover {
    color: #54FF9F;
}

.container-fluid {
  padding-right: 35px;
  padding-left: 35px;
}

nav.navbar-custom.navbar-absolute {
    top: 100px !important;
}

nav.navbar-custom{
	background: $dark_color;
    z-index: 100;
    
    

    //font-family: 'Titillium Web', sans-serif;

    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);

    padding: 0;

	.navbar-nav{
		.active > .nav-link, .nav-link{
			color: $light_color;
            font-weight: 600;
		}
	}

	.dropdown-menu{
			margin: 0;
            //@include transform(translateX(-35%));
	}
	.dropdown-menu, .dropdown-item{
			color: $light_color;
			background: $dark_color;
	}
	.dropdown-item:hover{
			color: $clan_color;
			background: $dark_color;
			text-decoration: none;
	}

	/*.nav-hover{
			.nav-text, .nav-image {
					@include media-md{
							@include transition(all 0.25s ease 0s);
							// @include translateZ(0);
							position: absolute;
							left: 0;
							top: 0;
							height: 50px;
							width: 100%;
							text-align: center;
							line-height: 50px;
					}
			}
			.nav-image{
					&:before{
							font-size: 30px!important;
							margin-right: 0;
							margin-left: 0;
					}
					margin-top: -50px;
					color:#0074c8!important;
			}
			overflow: hidden;
			height: 50px;
			position: relative;
	}*/

    .navbar-nav .nav-link:hover {
        @include transform(scale(1.2) translateY(-1px));
    }

    .navbar-nav .nav-link {
        @include transition(all 0.2s ease-in-out);
    }

	@include media-md{
		height: 50px;

		&.sticky-top{
				z-index: 500;
				position: fixed!important;
				position: -webkit-sticky;
				top:0!important;
				@include translateZ(0);
				.clanlogo{
                    img{
                            @include transform(scale(0.6) translateY(3px));
                    }
                    &:hover{
                        img{
                            @include transform(scale(0.66) translateY(3px));
                        }
                    }
				}
		}
		
        .navbar-nav{
			width: 100%;
		}

		.nav-item{
			//width: 11%;
            margin: auto;
            @include transition(all 0.2s ease-in-out);
			text-align: center;
			/*&:hover{
                .nav-text{
                    // margin-top: 50px;
                    @include transform(scale(1.2) translateY(-1px));
                }
                .nav-image{
                    margin-top: 5px;
                }
			}*/
		}
		.dropdown-toggle:after{
			display: none;
		}
	}

	/*@include media-lg{
		.nav-item{
			//width: 125px;
            margin: auto;
		}
		.navbar-collapse{
			width: 1200px;
			margin: 0 auto;
		}
	};*/


	.clanlogo{
        overflow: visible;
        position: relative;

        width: 200px;
        
        a.nav-link {
            position: absolute;
            background-image: url('https://d43.ovh/wordpress/wp-content/themes/d43_theme/img/logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            color: rgba(0,0,0,0) !important;
            width: 200px;
            height: 200px;
            margin-top: -100px;
            

            @include scale(1.0);
            /*@include translateZ(0);
            @include transition(all 0.2s ease-in-out);*/
            
        }

        a.nav-link:hover{
            @include scale(1.1);
        }
	}

	&.navbar-relative{
			margin-top: 50px;
			margin-bottom: 50px;
	}
	&.navbar-absolute{
			top:0;
			left: 0;
			width: 100%;
			position: fixed;
			@include media-md{
				position:absolute;
				top: 120px;

			}
	}
  
}

.header-background {
  width: 100%;
  height: 250px;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
    background-image: url('/wp-content/themes/d43_theme/img/banner_1920x300.jpg');
    background-repeat: no-repeat;
    
    //filter: blur(10px);
    //z-index: -10;
  }
  
  .spacer {
    position: absolute;
    bottom: 0px;
    height: 10px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  }
  
  .userbuttons {
    position: absolute;
    right: 10%;
    bottom: 25px;
      
    .row {
      //padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      //background-color: rgba(0,0,0,0.8);
      
      .btn-div {
        padding: 15px;
        background-color: rgba(0,0,0,0.8);
      }
      
      .btn {
        @extend .bevelled;
      }

      .signin-form {
          display: none;
      }

      .login-btn:hover + .signin-form {
          display: block;
      }
    }

    i {   
        width:35px;
        font-size: 20px;
        text-align:center;
        vertical-align:middle;
        position: relative;
        border: none;
    }

    .count {
        position: absolute;
        background: rgba(255,0,0,1);
        height:15px;
        width:15px;
        //font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        bottom:-3px;
        right:-2px;
        text-align: center;
        line-height: 15px;
        border-radius: 50%;
        color:white;
        border:1px solid red;
    }

    .dropdown-menu {
        @include transition(opacity 1.25s);
        opacity: 0;
        max-height: 0;
        background-color: red;
        top: 35px;
        padding: 5px;

        @extend .bevelled;
    }

    .show .dropdown-menu {
        opacity: 1;
        max-height: 300px;
        //width: 10px;
        //background: none;
    }

    //float: right;
  }

  .login-form {
      /*background-color: rgba(0,0,0,0.8); 
      top: 20vh; 
      width: 500px; 
      margin: auto;

      transition: all ease 2.5s;

      #user_login {
          float: right;
      }

      #user_pass {
          float: right;
      }

      .login-submit > input {
          @extend .btn;
          @extend .btn-primary;
      }*/
  }
}

.bevelled {
  background-color: #1d1d1d;
  border: 1px solid #000;
  background-image: linear-gradient(to top, #1a1b1f, #212528);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  color: white;
}

.post-img {
    width: 100px; 
    height: 134px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;

    transition: all .2s ease-in-out;
}

.post-img:hover {
    box-shadow: 0 0 10px #0080b3, inset 0 0 3px 3px #0a4423; // linear-gradient(90deg, #0a4423, #0080b3 )
}

.post-img-big {
    width: 100%; 
    //max-height: 100px;
    //height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.gradient-text {
    background: linear-gradient(90deg, #54FF9F, #00b7ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-list-compact {
    width: 100%;
    //font-family: Montserrat, sans-serif;

    .post {
        margin-top: 0px;
        padding: 8px;
        //height: 152px;

        .post-meta {
            flex-grow: 1; 
            justify-content: center; 
            margin-left: 8px;
            font-size: 13px;
        }
    }

    .title {
        font-size: 23px;
        //font-family: Montserrat, sans-serif;
        font-weight: 500;
        color: white;
        margin-bottom: 7px;
        margin-top: 5px;

        @extend .gradient-text;
        // background: 
    }

    .views, .comments {
        color: #555;
    }

    .text {
        font-size: 14px;
    }

    .post ~ .post {
        margin-top: 12px;
    }

    .date {
        color: #444;
        font-size: 12px;
    }

    .author {
        color: $primary-color;
        font-size: 12px;
    }

    p .understrap-read-more-link {
        display: none; // hack away the readmore button, ew
    }
}

.stripe-test {
    background: repeating-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5) 7px,
        rgba(0, 0, 0, 0.5) 0px,
        rgba(1, 0, 0, 0.8) 5px
    ),
    // url(http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/old_map_@2X.png);
}

.content-test {
  background: #212528;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  border: 1px solid #000;
  padding: 20px;
  z-index: 0;
  border-top: 0;
  margin-top: 0;
  color: #ccc;
  margin: 0;
}

.box-title {
  padding: 6px; 
  padding-left: 12px; 
  padding-top: 9px; 
  text-transform: uppercase;
  //font-family: Roboto; 
  font-weight: 800; 
  font-size: 14px;
}

.widget {
    .widget-title {
        @extend .box-title;
        @extend .stripe-test;
        @extend .bevelled;

        margin-top: 10px;
        margin-bottom: 0px;
    }

    ul {
        padding: 15px;
        @extend .bevelled;

    }

    .avatar-block {
        padding: 15px;
        @extend .bevelled;
    }

    .widget-error {
        padding: 15px;
        @extend .bevelled;
    }
}

#bbpress-forums {
    .bbp-body {
        .status-category {
            @extend .bevelled;
            padding: 15px;
        }

        .bbp-forums-list {
            li {
                display: block;
            }
        }

        .bbp-forum-title {
            @extend .box-title;
            @extend .stripe-test;
            @extend .bevelled;
            margin-bottom: 0px;
        }
    }
}

.entry-header:before {
    content: "";
    position: absolute;
    @extend .bevelled;
    // @extend .stripe-test;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    z-index: -1;
}

.entry-header {

    position: relative;
    width: 100%;
    height: 55px;

    .entry-title {
        color: #eee;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        float: left;
        // width: 100%;
        padding: 15px;

        @extend .gradient-text;
    }
}

.entry-content {
    margin: 10px;
}

#wp-discord {
    @extend .bevelled;
    border-radius: 0px !important;
    margin: 0px !important;
    margin-top: 15px !important;
    max-width: 100%;
}

// Latest Topic
.widget_display_topics {
    ul li {
        font-size: 16px;
        list-style: none;
        margin-bottom: 5px;
    }

    .bbp-author-avatar > img{
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }

    .title {
        white-space: nowrap;
    }
}

.topic-desc {
    & > a {
        line-height: 50px;
        text-align: center;

        img {
            vertical-align: middle;
            margin-left: 10px; }    
    }
    
    .meta {
        margin-left: 10px;
        .author {
            font-size: 12px; }
        .time  {
            margin-left: 5px;
            color: #666;
            font-size: 12px; }
    }
}

.testrole > a.bbp-author-name {
    color: red;
}
